// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


html {
	background:$page-bg;
}

body {
  > div {
      max-width:920px;
      background: #fff !important;
      border-bottom: 0px solid #fff;
    > div {
        background: #fff !important;
        border-right-width: 0px;
        border-bottom-width: 0px;
      }
  }
  > header {
      text-align: center;
      padding-top:60px;
  }
  > header img {
    display:block;
    margin:0 auto;
  }
  > header h1 a,
    header h1 a:visited, 
    header h1 a:hover {
  }
  > nav {
    position:fixed;
    z-index:1000;
    min-width:100%;
  }
}
aside.sidebar {
  border-top:0px solid #fff;
  background-color: #fff;
}
.portrait {
  border-radius:50%;
  padding:2%;
  border:2px solid #3EBB96;
}


  